::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 6px;
  height: 0px
}

::-webkit-scrollbar-track {
  /* background-color:#32312e; */
  /* box-shadow:0px 0px 3px #000 inset; */
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #A0300B;
  box-shadow: 0px 1px 1px #fff inset;
  background-image: url('https://yraaa.ru/_pu/24/59610063.png');
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 7px;
  height: 0px
}

::-webkit-scrollbar {
  width: 7px;
}




.wrapper {
  width: 100%;
}

@media(max-width:992px) {
  .wrapper {
    width: 100%;
  }
}

.panel-heading {
  padding: 0;
  border: 0;
}

.panel-title>a,
.panel-title>a:active {
  display: block;
  padding: 12px 20px 5px;
  color: #555;
  text-decoration: none;
}

.panel-heading a:before {
  font-family: 'FontAwesome';
  content: "\f078 ";
  float: right;
  transition: all 0.5s;
}

.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}




.slider-nav-thumbnails .slick-slide {
  opacity: 0.5;
}

.slider-nav-thumbnails .slick-slide.slick-active {
  opacity: 1;
}

.slider-nav-thumbnails img,
.slick-slide img {
  width: 100%;
}

.slider-nav-thumbnails img {
  width: 106px;
  cursor: pointer;
}

.slider-nav-thumbnails {
  max-width: 630px;
  margin: 0 auto;
}


#sync1 .item {
  /* background: #0c83e7; */
  /* padding: 80px 0px; */
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#sync2 .item {
  /* background: #c9c9c9; */
  padding: 10px 0px;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  height: 126px;
}
#sync2 .item, #sync4 .item, #sync6 .item, #sync8 .item{
  height: 126px;
}
#sync2 .item img, #sync4 .item img, #sync6 .item img, #sync8 .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sync2 .item h1 {
  font-size: 18px;
}
#sync2 .current .item {
  /* background: #0c83e7; */
}

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*=owl-].disabled:hover {
  background-color: #d6d6d6;
}

#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync1.owl-theme .owl-prev {
  left: 10px;
}
#sync1.owl-theme .owl-next {
  right: 10px;
}



#sync3 .item {
  /* background: #0c83e7; */
  /* padding: 80px 0px; */
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#sync4 .item {
  /* background: #c9c9c9; */
  padding: 10px 0px;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync4 .item h1 {
  font-size: 18px;
}
#sync4 .current .item {
  /* background: #0c83e7; */
}

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*=owl-].disabled:hover {
  background-color: #d6d6d6;
}

#sync3.owl-theme {
  position: relative;
}
#sync3.owl-theme .owl-next,
#sync3.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync3.owl-theme .owl-prev {
  left: 10px;
}
#sync3.owl-theme .owl-next {
  right: 10px;
}






#sync5 .item {
  /* background: #0c83e7; */
  /* padding: 80px 0px; */
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#sync6 .item {
  /* background: #c9c9c9; */
  padding: 10px 0px;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync6 .item h1 {
  font-size: 18px;
}
#sync6 .current .item {
  /* background: #0c83e7; */
}

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*=owl-].disabled:hover {
  background-color: #d6d6d6;
}

#sync5.owl-theme {
  position: relative;
}
#sync5.owl-theme .owl-next,
#sync5.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync5.owl-theme .owl-prev {
  left: 10px;
}
#sync5.owl-theme .owl-next {
  right: 10px;
}








#sync7 .item {
  /* background: #0c83e7; */
  /* padding: 80px 0px; */
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#sync8 .item {
  /* background: #c9c9c9; */
  padding: 10px 0px;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync8 .item h1 {
  font-size: 18px;
}
#sync8 .current .item {
  /* background: #0c83e7; */
}

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*=owl-].disabled:hover {
  background-color: #d6d6d6;
}

#sync7.owl-theme {
  position: relative;
}
#sync7.owl-theme .owl-next,
#sync7.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync7.owl-theme .owl-prev {
  left: 10px;
}
#sync7.owl-theme .owl-next {
  right: 10px;
}